<h1 id="contact" class="heading">Contact Me</h1>
<hr class="divider">
<div data-aos="fade-right" class="contact-content">

<span style="font-weight: 400; ">
I am actively looking for New and Exciting Opportunities.
<br>
Interested in working together? Let's Talk!</span>

<br>
<br>

    <a data-aos="fade-left" style="text-align:center" class="blk contact-box contact-box-container "
    href="{{site.github.repo}}"> <i class="fab fa-github"> </i> Checkout my GitHub</a>
    <br>
    <a data-aos="fade-right" style="text-align:center" class="lnkdn contact-box contact-box-container"
    href="{{site.linkedin}}"><i class="fab fa-linkedin"></i> Connect on LinkedIn</a>
    <br>
    <a data-aos="fade-left" style="text-align:center" class="email contact-box contact-box-container"
     href="mailto:{{site.email}}"><i class="fas fa-envelope"></i> Send me an E-Mail</a>
    <br>
    <a data-aos="fade-right" style="text-align:center" class="twttr contact-box contact-box-container" href="{{site.twitter}}"> <i class="fab fa-twitter"></i> Message me on Twitter</a>
    <br>
    <br>

    <p data-aos="fade-up" class="light-text-block">Certain E-Mail Providers like Outlook and Gmail sometimes mark my e-mails as spam, so be sure to check your spam folder and mark my e-mails as unspam and add me to your e-mail contacts list to ensure that you get my mails in your Inbox</p>



</div>