<div id="particles-js" class="intro-container">
  <div class="intro">
    <h1>{{site.name}}</h1>
    <span>
      <!-- <h3>Full Stack Web Developer<span class="spacer-mobile"><br></span>Firmware Programmer</h3> -->
      <!-- <h3>Full Stack Web Developer , <span class="spacer-mobile"><br></span> Designer and Programmer</h3> -->
      <h3>{{site.tagline}} <br> {{site.subtagline}} </h3>

    </span>

    <div class="intro-nav-links">
        <span class="intro-links"> <a   href="{{base.url}}/#about">
        <i class="fas fa-info-circle"  ></i><span id="expand-underline" class="expand-underline">About</span></a></span>

        <span class="intro-links"> <a  href="{{base.url}}/#skills">
        <i class="fas fa-code" ></i><span id="expand-underline" class="expand-underline">Skills</span></a></span>

        <span class="intro-links"> <a  href="{{base.url}}/#projects">
          <i class="fas fa-drafting-compass"  ></i><span id="expand-underline" class="expand-underline">Projects</span></a></span>

        <span class="intro-links"> <a  href="{{base.url}}/#blog">
        <i class="fas fa-pencil-alt" ></i><span id="expand-underline" class="expand-underline">Blog</span></a></span>

    </div>

    <div class="intro-circle-icons" > <a href="{{site.github.repo}}"> <i class="circle socials fab fa-github githb"></i><div class="intro-circle-text">
      <span id="expand-underline" class="expand-underline">GitHub</span>
    </div> </a></div>

    <div class="intro-circle-icons" > <a href="{{site.linkedin}}"> <i class=" circle socials fab fa-linkedin lnkdn"></i><div class="intro-circle-text">
        <span id="expand-underline" class="expand-underline">LinkedIn</span>
    </div> </a></div>

    <div class="intro-circle-icons" > <a href="{{base.url}}/#contact"> <i class="circle socials far fas fa-envelope email"></i><div class="intro-circle-text">
        <span id="expand-underline" class="expand-underline">Contact</span>
    </div> </a></div>

    <div class="intro-circle-icons" > <a href="{{site.resume}}"> <i class="circle socials fas fa-file-alt resume"></i><div class="intro-circle-text">
        <span id="expand-underline" class="expand-underline">Resume</span>
    </div> </a> </div>

  </div>
  <div class="center"><a href="{{base.url}}/#about">
      <i class="down-arrow fas fa-chevron-down"></i>
      <span class="down-scroll">scroll down</span></a>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.js"></script>
