<div id="navbar" class="navbar">
  <div class="nav-container">
    <!-- <img  class="logo" src="/public/assets/images/hqtA7zL.png" height="50" width="75"> -->
    <a  class="name"href="{{ site.baseurl }}">{{site.title }}</a>
        <div id="menu-container" class="collapsible-menu">
      <input type="checkbox" id="menu" class="menu-icon">
      <h1 id="title-navbar" class="title-navbar">
          <a href="{{ site.baseurl }}">{{site.title }}</a>
        </h1>
      <!-- <label for="menu">
      </label> -->
      <div class="al-hamburger"><span></span></div>
      <div class="menu-content">
          <p class="navbar-jhuml">Full Stack Web Developer,<span class="spacer-mobile"><br></span> Designer and Programmer</p>
<br>
         <div class="center-nav">
          {% assign pages_list = site.pages %}
          {% for node in pages_list %}
          {% if node.title != null %}
          {% if node.layout == "page" %}
          <a class="navbar-item {% if page.url == node.url %} active{% endif %} " href="{{ node.url }}">
            <i class="nav-icons
            {% if node.title == 'About Me' %} fas fa-info-circle {% endif %}
            {% if node.title == 'Blog Archive' %} fas fa-pencil-alt {% endif %}
            {% if node.title == 'My Projects' %} fas fa-drafting-compass {% endif %}
            {% if node.title == 'Tags' %} fas fa-tags {% endif %}"> &nbsp;
            </i>{{node.title}}</a><br>
          {% endif %}
          {% endif %}
          {% endfor %}
          <!-- <span class="spacer"></span> -->
        </div>
        <h1 class="web-presence"> my web presence </h1>


        <div class="comms-mobile">

          <a class="comms-icons navbar-item fab fa-github" href="{{ site.github.repo }}">
          </a>
          <a class="comms-icons navbar-item fab fa-linkedin" href="https://linkedin.com/in/shawn-dsilva">
          <a class="comms-icons navbar-item fab fa-twitter" href="https://twitter.com/{{ site.twitter.username }}">
          </a>
          <a class="comms-icons navbar-item far fa-envelope" href="mailto:{{ site.email }}">
          </a>

        </div>
      </div>
    </div>
    <div class="comms">
      <a class="comms-icons navbar-item fab fa-github" href="{{ site.github.repo }}">
      </a>
      <a class="comms-icons navbar-item fab fa-linkedin" href="https://linkedin.com/in/shawn-dsilva">
      <a class="comms-icons navbar-item fab fa-twitter" href="https://https://twitter.com/{{ site.twitter.username }}">
      </a>
      <a class="comms-icons navbar-item far fa-envelope" href="mailto:{{ site.email }}">
      </a>
    </div>
  </div>
</div>