
    <section id="about" class="about-container">
        <h1 class="heading"> About Me</h1>
        <hr class="divider">
        <br>
        <div class="about-content">

          <p>I'm Shawn D’silva, a <span class="dotted-blu">Full Stack Web Developer</span> and <span
              class="dotted-blu">Designer</span> using the versatility of <span style="border-bottom:yellow"
              class="dotted-blu">JavaScript</span> in both <span class="dotted-blu">Front-End</span> and <span
              class="dotted-blu">Back-End</span>
            to create beautiful, responsive and well designed <span class="dotted-blu">Web Apps</span> with
            great UI/UX.<br>
            <!-- Aside from Web Development, i am also an Embedded Systems and Systems Programming enthusiast. -->
            <!-- <br>
            <br>
            I am passionate about code, from beautiful and complex web apps to bare-metal microcontroller firmware, and everything in between.
            This site is an overview of my skills, projects and the latest posts from my blog.
            <br>
            <br> -->
            <br>
            I am well equipped to solve problems with my wide skill-set, ranging from creating beautiful static websites, to Single Page Web Apps, Back-End development, Cloud Deployment & Systems Administration.
            <br>
            <br>
            Aside from Web Development, I am also passionate about Embedded Systems, Computer Architecture, Operating Systems and hobbyist Electronics.
            <br>
            </p>
          <p> Feel free to checkout   <a class="link" href="/public/assets/resume/resume.pdf"> <i class="far fa-file-alt"></i> My Resume </a></p>
        </div>
        <a style="text-align:center" class="view-all view-all-container" href="{{base.url}}/about/"> <i class="far fa-arrow-alt-circle-right"></i> Find Out More</a>
    </section>