<section id="skills">
      <h1 class="heading" > My Skills</h1>
      <hr class="divider">
      <div id="wrapper" class="flex-container">

        <!-- <div id="row"> -->

          <div data-aos="fade-right"  class="skill-elem">
            <h2 class="skill-title"> Programming Languages </h2>
            <hr class="divider">
            <img class="svg-std" src="../public/assets/icons/c-original.svg"></img>
            <img class="svg-height" src="../public/assets/icons/java-original-wordmark.svg"></img>
            <img class="svg-std" src="../public/assets/icons/php-plain.svg"></img>&nbsp; &nbsp;
            <img class="svg-std" src="../public/assets/icons/javascript-original.svg"></img>

            <br>
            <br>
            <p>I use C for my hobbyist embedded systems projects, Java to practice Data Structures & Algorithms and write efficient ES6 JavaScript and clean PHP code for Web projects.  </p>
          </div>

        <div data-aos="fade-left"  class="skill-elem">
          <h2 class="skill-title"> Frontend & Web Apps </h2>
          <hr class="divider">
          <img class="svg-std" src="../public/assets/icons/react-original-wordmark.svg"></img>
          <img class="svg-std" src="../public/assets/icons/jquery-original-wordmark.svg"></img>
          <img class="svg-std" src="../public/assets/icons/sass-original.svg"></img>
          <img class="svg-std" src="../public/assets/icons/bootstrap-plain-wordmark.svg"></img>

          <br>
          <br>
          <p>I am proficient in using React.js, along with Sass and the Bootstrap framework to create beautiful and  efficient
            Single Page Web Apps with great UX, and can also use JQuery and custom, responsive CSS for simpler websites    </p>
        </div>
        <!-- </div> -->
        <!-- <div id="wrapper" class="flex-container"> -->
        <!-- <div id="row"> -->
        <div data-aos="fade-right"  class="skill-elem">
          <h2 class="skill-title">Backend & Databases</h2>
          <hr class="divider">
          <!-- <img class="svg" src="https://icongr.am/simple/nginx.svg?size=100&color=269539&colored=true"/>&nbsp; -->

          <!-- <i  class="skill-icons devicon-nodejs-plain colored"></i>&nbsp; -->
          <!-- <i style="" class="skill-icons devicon-nginx-plain-wordmark colored "></i>&nbsp; -->
          <img class="svg-width" src="../public/assets/icons/Node.js_logo.svg"></img>

          <img class="svg-std" src="../public/assets/icons/laravel-plain-wordmark.svg"></img>

          <!-- <i style="color: #AEAEAE; " class="skill-icons devicon-express-original colored"></i> -->
          <!-- <i style="font-size: 7em;" class="skill-icons devicon-nodejs-plain-wordmark colored"></i> -->
          <img class="svg-std" src="../public/assets/icons/postgresql-original-wordmark.svg"></img>
          <img class="svg-std" src="../public/assets/icons/mongodb-original-wordmark.svg"></img>
          <!--<i class="skill-icons devicon-angularjs-plain colored"></i>-->
          <br>
          <br>
          <p>Node.js with Expess and Laravel are my go-to backend frameworks to create REST API backends.
            I can use Table-based and NoSQL Databases like Postgres, MySQL or MongoDB depending on project requirements
          </p>
        </div>


        <div data-aos="fade-left"  class="skill-elem">
          <h2 class="skill-title"> Ops & Deployment </h2>
          <hr class="divider">
          <img class="svg-std" src="../public/assets/icons/nginx-logo.svg"></img>

          <img class="svg-width" src="../public/assets/icons/docker.svg"></img>
          <!-- <img class="png" src="https://quiksite.com/wp-content/uploads/2016/09/Nginx-featured-logo.png?x14593"/>&nbsp; -->
          <img class="svg-width" src="../public/assets/icons/Amazon_Web_Services_Logo.svg"></img>
          <img class="svg-std" src="../public/assets/icons/ubuntu-plain-wordmark.svg"></img>

          <br>
          <br>
          <p> I deploy my web apps as Dockerized containers on Debian/Ubuntu Linux
            AWS EC2 instances behind an NGINX Reverse Proxy
            and do basic SysAdmin Ops while using BASH shell scripting to automate tasks whenever possible.

          </p>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </section>