:root {
  --main-para-color: #404040;
  --main-heading-color: #2d3c41;
  /* --main-link-color: #5376f4; */
  --main-link-color: #00cdff;
  --intro-socials-size: 3rem;
  --main-light-color: #3d3d3d;
  --main-lead-color: white;
  /*#c7c7c7*/
  /* --main-bg-color: #253558; */
  --main-bg-color: #336360;
  --main-green-color: #35e7af;
  /* --main-live-color: #409ff5; */
  --main-live-color: #0a85ff;
  /* --main-det-color: #0db7ed; old */
  --main-det-color: #00cdff;

  --main-blk-color: #25282b;
  --main-lnkdn-color: #0077b5;
  --main-twttr-color: #1DA1F2;
  --main-hero-color: #0047d6;
  --main-gradient-color: #043392;
  /* --main-hero-color: #0a85ff; */
  --main-divider-color: #0a85ff;
/* #0047d6 */
  scroll-behavior: smooth;
}


html {
  font-family: "Inter", sans-serif;
}

html, body {
  margin:0!important;
  padding:0!important;
  height:100%!important;
}

.master-container {
  background-color: inherit;
  width: 100%;
  padding-bottom: 2.5rem;
  text-align: center;
  margin: 0 auto;
  overflow:hidden;
  width:100%!important;
}

.grey-section {
  background-color: #fcfcfc;
  border: solid 1px #D3D3D3;
}

.light-text-block {
  width: 100%;
  font-size: 16px;
  margin:0 auto;
  font-weight: 300;
}

.em {
  font-size: 1.5rem;
}

.grey {
  background-color: #fafafa;
}

body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  color: var(--main-light-color);
  overflow-x:hidden!important;
  width:100%!important;

}

p, li {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--main-para-color);
}

ul {
  list-style: none;
  padding-left: 1rem;
}

li {
  padding:0.3rem;
  font-size: 20px;
}

li:before {
  font-family: "Font Awesome 5 Free", "Inter";
  content: " \f621";
    padding-right: 10px;
  font-weight: bold;
}

div {
  margin: 0 0 0 0;
}

h1,
h2,
h3 {
  color: var(--main-heading-color);
}

h1 {
  font-size: 2rem;
}

a.link {
  position: relative;
  font-weight: 400;
}

a.link:before {
  content: "";
  position: absolute;
  width: 0;
  margin-bottom: -4px;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color:var(--main-link-color);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.link:hover:before {
  visibility: visible;
  width: 100%;
}
.svg-std {
  border:none;
  height: 4em;
  width: 4em;
  display: inline-block;
  margin:0;
}

.svg-width {
  border:none;
  height: 3.5em;
  width: 5em;
  display: inline-block;
  margin:0;
}

.svg-height {
  border:none;
  height: 5.5em;
  width: 6em;
  display: inline-block;
  margin:-1rem;
}

.java-svg {
  border:none;
  height: 4.5em;
  width: 4.5em;
  display: inline-block;
  margin:0;
}

.png {
  height: 4.5em;
  width: 4.5em;
  display: inline-block;
  margin:0;
  margin-bottom: -1rem;
}
.heading {
  font-weight: 800;
  font-size: 2.5em;
  text-align: center;
  padding:1.5rem 2rem;
  border-bottom: 5px solid var(--main-divider-color);
  width: max-content;
  margin: 0 auto;
  margin-bottom: 1.5rem;

}

.intro-container {
  height: 100%;
  width: 100%;
  /* background-color: var(--main-hero-color)!important; */
  background-image: linear-gradient(to bottom left ,var(--main-hero-color), var(--main-divider-color))!important;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../../public/assets/images/coding-924920_1920.jpg"); */
  background-size: cover;
  margin: 0;
  padding: 0;
  color: white;

}

.intro {
  width: 100%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
  color: white;
  margin-top: auto;
  text-align: center;
  /* overflow-x: hidden; */

}

.intro h1 {
  font-size: 2.9rem;
  /* font-size: 5rem; */
  margin: 0;
  color: white;
  line-height: 1;
  font-weight: 900!important;
}

.intro h3 {
  margin-top: 0;
  font-weight: 300;
  /* margin-bottom: 15px; */
  margin: 0;
  width:90%;
  margin: 0.5rem auto;
  font-size: 1.4rem;
  color: white;
  padding-top: 10px;
}

.intro-links {
  display: block;
  font-size: 1rem;
  width: max-content;
  margin: 0 auto;
  font-weight: 300;
  color: white;
}

.intro-links i {
  padding-right:0.3rem;
}

.intro-links a {
  font-weight: 300!important;
}
.note {
  background-color: #ffd0d7;
  color:#dc3545;
  border: 1px solid #ffd0d7;
  border-radius: 10px;
  padding:1rem;
  margin:1.5rem 0;
}

.note:before {
  font-family: "Font Awesome 5 Free", "Inter";
  font-weight: bold;
  color: #dc3545;
  font-size: 1.2rem;
  content: "\f06a   NOTE : \0000a";
  white-space: pre;
  word-wrap: break-word;
}

.intro-nav-links {
  display:flex;
  flex-direction: row;
  flex-wrap:nowrap;
  width:85%;
  margin: 0 auto;
  padding: 0.4rem 0 0.8rem 0;
}

/* .intro-nav-links {
  display: none;
} */
.intro-circle-icons {
  display: inline-block;
  font-size: 1em;
  padding: 15px 5px;
  padding-top: 12px;
  font-weight: 300;
  color: white;
}

.intro a {
  color: inherit;
  font-weight: 300;
}

.expand-underline {
  position: relative;
}

.expand-underline:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.intro-links:hover  #expand-underline:before {
  visibility: visible;
  width: 100%;
}

.intro-links:active #expand-underline:before {
  visibility: visible;
  width: 100%;
}
.intro-circle-icons a:hover  #expand-underline:before {
  visibility: visible;
  width: 100%;
}

.mini-tags-container  {
  margin-bottom:auto;
  padding-bottom: 1rem;
}

.intro-circle-icons a:active  #expand-underline:before {
  visibility: visible;
  width: 100%;
}

.spacer-mobile {
  display: inline;
}

/* .about-content {
                    display: inline-block;
                    padding-top:90%;
                } */

.about-container {
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.about-content {
  width:92%;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 1.5rem;
}

.contact-content {
  overflow: hidden;
  width:95%;
  text-align: center;
  margin: 0 auto;
  font-size: 22px;
  padding-bottom: 1.5rem;
}

@media (min-width:411px) {
  .contact-content {
    overflow: hidden;
    width:92%;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    padding-bottom: 1.5rem;
  }
}

.about-content p {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size:16px;
}

@media (min-width:411px) {

  .about-content {
    width:90%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1.5rem;
  }

  .about-content p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size:17px;
  }
}

.flex-container {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-elem {
  text-align: center;
  padding: 15px;
  border-color: #d3d3d3;
  font-weight: 300;
  margin: 1rem 1rem;
  border-width: 1px;
  border-radius: 15px;
  border-style: solid;
  background: white;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  transform: .2s;
}

.skill-elem:hover{
  transform: scale(1.075);
}
.skill-elem p {
  font-weight: 300;
  font-size: 16px;
}

.skill-elem h2 {
  font-size: 1.6rem;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.lrg-skill {
  font-size: 3.5rem;
}

/* #wrapper {
    display: table;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2rem;

  }

  #row {
    display: table-row;
  }

  .skill-elem {
    display: table-cell;
    width: 20%;
    height: 50%;
    text-align: center;
    padding: 20px;
  } */

.skill-title {
  font-weight: 600;
  font-size: 25px;
  width:max-content;
  margin-bottom: 1.2rem!important;
}

.skill-icons {
  text-align: center;
  font-size: 3.6em;
}

.socials {
  padding: 15px;
  font-size: 25px;
}

.circle {
  height: auto;
  width: 25px;
  /* background-color: var(--main-bg-color); */
  border-radius: 50%;
  border-width: 2px;
  display: inline-block;
  border-color: white!important;
  border-style: solid;
  background-color: transparent!important;
}


.circle:hover {
  background-color: white!important;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2)!important;
}

.lnkdn:hover {
  color: var(--main-lnkdn-color);
}

.githb:hover {
  color: #333;
}

.email:hover {
  /* color: #6cc24a!important; */
  color: var(--main-green-color)!important;

}

.resume:hover {
  color: #bd2c00;
}

.center {
  position: absolute;
  bottom: 20px;
  width: 100%;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.down-arrow {
  /*
        bottom: 0;
        width: 100%;
        position: absolute;
        display: inline-block;
        color: white;
        font-size: 35px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
  padding-bottom: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 28px;
  color: white;
  -webkit-animation: anim 2.3s infinite;
  animation: anim 2.3s infinite;
}

@-webkit-keyframes anim {
  0% {
    -webkit-transform: translate(-15px, -75px);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(-15px, -40px);
    opacity: 0;
  }
}

@keyframes anim {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-15px, -75px);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(-15px, -40px);
    opacity: 0;
  }
}

.down-scroll {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 300;
  color: white;
}

.devicon-express-original-wordmark {
  width: 20px;
  height: 20px;
}

.slim {
  width: 30px;
  height: 20px;
}

.view-all-container {
  display: inline-block;
  width: 75%;
}

.view-all {
  border-radius: 50px;
  font-size: 1.3rem;
  margin: 6px 2px;
  font-weight: 500;
  border-style: solid;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background:linear-gradient(to right, var(--main-hero-color), var(--main-divider-color))!important;
  border: none;
  padding:1.2rem;
  color: white;
}

.contact-box-container {
  display: inline-block;
  width: 85%;
}

.contact-box {
  border-width: 3px;
  color: #ffffff;
  font-size: 1.3rem;
  margin: 6px 2px;
  padding: 10px 12px;
  font-weight: 400;
  border-style: solid;

}

.view-all:hover {
  padding:1rem;
  background:transparent!important;
  border: 3px solid var(--main-hero-color)!important;
  color: var(--main-hero-color)!important;
}

.blog-container {
  text-align: center;
}

.blog-content {
  display: inline-block;
  text-align: left;
  width: 95%;
}

.post-title-link a {
  font-weight: 500;
  color: var(--main-bg-color);
  font-size: 1.7rem;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

.post-title-link a:hover,
.post-title-link a:focus {
  border-bottom: 4px solid var(--main-live-color);
  color: var(--main-live-color);
}

.post-date-homepage {
  font-family: "Inter", sans-serif;
  text-align: left;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 1.2rem;
  color: var(--main-light-color);
  font-weight: 400;
}


.all-projects-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

.all-projects-item {
  text-align: left;
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  margin:1.5rem 0;
  border: 1px solid lightgrey;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.all-projects-content {
  padding:1rem;
}

.project-title {
  font-size: 2rem;
  font-weight: 800;
  margin:1rem 0;

}

.project-details-title {
  font-size: 2.8rem;
  font-weight: 900;
  margin:1rem 0;

}

.project-desc {
  color:#5f5f5f;
  font-size: 20px;
  border: 2px solid var(--main-green-color);
  border-left:16px solid var(--main-green-color);
  padding:1rem;
  padding-left: 1rem;
  font-weight: 400;
}


.link-tags-project {
  font-size: 1.6rem!important;
  font-weight: 500!important;
  padding:1.2rem!important;
  margin:0.8rem 0!important;
}


.mini-tags {
  display: inline-block;
  background-color: white;
  border-color: #788cfd;
  border-width: 2px;
  color: #788cfd;
  border-style: solid;
  border-radius: 4px;
  font-size: 16px;
  margin: 6px 2px;
  padding: 2px 8px;
  font-weight: 400;
}

.skill-tags {
  display: inline-block;
  background-color: white;
  border-color: lightslategrey;
  border-width: 2px;
  color: lightslategray;
  border-style: solid;
  border-radius: none;
  font-size: 18px;
  margin: 6px 2px;
  padding: 2px 8px;
  font-weight: 500;
}

.link-tag-container {
  display: flex;
  flex-wrap: wrap;
  margin-top:auto;
}

.link-tags {
  flex-grow: 1;
  display: inline-block;
  color: white;
 border-width: 3px;
 border-radius: 8px;
  font-size: 1.1rem;
  margin: 6px 4px;
  padding: 10px;
  font-weight: 500;
  border-style: solid;
  text-align: center;
}
.blk {
  background-color: var(--main-blk-color);
  border-color: var(--main-blk-color);
}
.blk:hover {
  background-color: white;
  color: var(--main-blk-color);
  border-width: 3px;
}

.blu {
  background-color: var(--main-live-color);
  border-color: var(--main-live-color);
}
.blu:hover {
  background-color: white;
  color: var(--main-live-color);
  border-width: 3px;
}

.det {
  background-color: var(--main-det-color);
  border-color: var(--main-det-color);
}
.det:hover {
  background-color: white;
  color: var(--main-det-color);
  border-width: 3px;
}


.lnkdn {
  background-color: var(--main-lnkdn-color);
  border-color: var(--main-lnkdn-color);
}
.lnkdn:hover {
  background-color: white;
  color: var(--main-lnkdn-color);
}

.email {
  background-color: var(--main-green-color);
  border-color: var(--main-green-color)
}
.email:hover {
  background-color: white;
  color: var(--main-green-color);
}

.twttr {
  background-color: var(--main-twttr-color);
  border-color: var(--main-twttr-color);
}
.twttr:hover {
  background-color: white;
  color: var(--main-twttr-color);
}

.link-tags a {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.read-more {
  background-color: white;
  color: var(--main-title-color);
  border-style: solid;
  border-color: var(--main-title-color);
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /*border-bottom-right-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-top-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-webkit-border-left-radius: 10px;*/
  font-size: 16px;
  font-weight: 500;
  margin: 16px 2px;
  cursor: pointer;
  border-style: solid;
}

.read-more:hover,
.read-more:focus {
  background-color: white;
  color: var(--main-link-color);
  border-style: solid;
  border-color: var(--main-link-color);
}

.divider {
  display:none;
  border: none;
  border-bottom: solid 2px var(--main-divider-color);
  width: 50%;
  max-width: 480px;
  height: 50px;
  top: 0;
  /* box-shadow: 0 20px 20px -22px rgb(192, 192, 192); */
  padding: 0;
  margin: -45px auto 30px;
}

.projects-container {
  text-align: center;
}

.projects {
  display: inline-block;
  text-align: center;
}

.project-item {
  display: inline-block;
  text-align: left;
  width: 90%;
  margin: 0;
}
.project-item p {
  font-weight: 300;
}

.project-image {
  width: auto;
}

.lds-dual-ring {
  display: block;
  width: 80px;
  height: 80px;
  margin:auto auto;
  font-size:1.3rem;
  font-weight: 400;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid #7d7d7d;
  border-color: #7d7d7d transparent #7d7d7d transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.project-video {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 2px solid lightgrey;
box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  background-color: #e2e2e2;
}



.project-details-video {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid lightgrey;
box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  background-color: #e2e2e2;
}


.desktop-img {
  display: none;
}

.mobile-img {
  display: block;
}

img {
  display: block;
  text-align: right;
  border: solid lightgray 2px;
}

a {
  color: var(--main-link-color);
  font-weight: 400;
  text-decoration: inherit;
  transition: color 0.2s ease-out;
}

b,
strong,
th {
  font-weight: 700;
  color: var(--main-bg-color);
}

table {
  border-spacing: 1px;
  box-shadow: 0px 0px 0px 1px rgba(148, 148, 148, 0.16) inset;
}

tr:hover {
  background: rgba(148, 148, 148, 0.06);
}

th,
td {
  box-shadow: 0px 0px 0px 1px rgba(148, 148, 148, 0.16);
  padding: 1em 1em;
  text-align: left;
}

.dotted-blu {
  border-bottom: #5376f4 dashed 2px;
}

.project-flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 1.2rem;
}

.project-main {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  margin: 1.5rem 0;
}

.project-main-alt {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  margin: 1.5rem 0;
}

.project-content {
  display: flex;
  flex-direction: column;
  width: auto;
  text-align: left;
  padding: 0.7rem;
  margin-top:1rem;
  border-radius: 12px!important;
  border: 1px solid lightgrey;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.project-image {
  display: flex;
  width: auto;
  height: auto;
  border: 2px solid lightgrey;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}


.project-content p {
  font-size: 14px;
}


.project-content h1 {
  font-size: 1.25rem;
}


.skill-tags {
  font-size: 16px;
}

.link-tags {
  font-size: 1rem;
  font-weight: 500;
  padding: 6px 4px;
  margin: 4px 4px;
}

.mini-tags-container strong {
  font-size: 16px;
  color:var(--main-heading-color);
}


.blog-container {
  display: flex;
  width: 90%;
  height: max-content;
  flex-direction: column;
  text-align: center;
  margin:0 auto;
}


.blog-post {
  text-align: left;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin:1rem auto;
  border: 1px solid lightgrey;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  background:white;
}

.post-content {
  padding:1rem;
}

.post-image {
  border: none;
  border-bottom: 2px solid lightgrey;
}

.post-title-link a {
  color:var(--main-heading-color)!important;
}

.post-title-link a:hover {
  color:var(--main-live-color)!important;
}

.post-title-link {
  font-size: 1.4rem;
  margin-top: 0;
}

.post-title-link a {
  font-size: 1.4rem;
  font-weight: 700;
}

.blog-post p {
  margin-bottom: auto;
  font-weight: 400;
}

.read-more {
  margin-top: auto;
  margin-bottom: 1rem;
  width:80%;
  margin-right: auto;
  margin-left: auto;
}

.footer-style {
  font-size: 16px;
  color: #d6d6d6;
}
@media (min-width:48em) {

.light-text-block {
  width: 45%;
  font-size: 18px;
  margin:0 auto;
}
.svg-std {
  border:none;
  height: 6.5em;
  width: 6.5em;
  display: inline-block;
  margin:0;
}

.svg-width {
  border:none;
  height: 5.5em;
  width: 7.5em;
  display: inline-block;
  margin:0;
}

.svg-height {
  border:none;
  height: 7.5em;
  width: 7.5em;
  display: inline-block;
  margin:-1rem;
}


.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin: auto;
    text-align: center;
  }

  .intro h1 {
    font-size: 5.5rem;
    margin: 0;
    color: white;
    line-height: 1.1;
    font-weight: 600;
  }

  .intro h3 {
    margin-top: 0;
    /* margin-bottom: 15px; */
    margin: 0;
    font-size: 1.6rem;
    margin: 0 auto!important;
    color: white;
    padding-top: 10px;
    font-weight: 200!important;
  }


  .intro-links {
    font-size: 1.5em;
    padding: 15px 10px;
    font-weight: 300;
    width: auto;
    display: inline-block;
    color: white;
  }

  .intro-links i {
    padding-right:0.6rem;
  }

  .intro-nav-links {
    width:100%;
    display:inline-block;
  }

  .socials {
    padding: 20px;
    font-size: 40px;
  }

  .circle {
    height: auto;
    width: 40px;
    /* background-color: var(--main-bg-color); */
    border-radius: 50%;
    display: inline-block;
    border-color: white;
    border-style: solid;
  }

  .intro-circle-icons {
    display: inline-block;
    font-size: 1.2em;
    padding:1.25rem;
    font-weight: 300;
    color: white;
  }


  .link-tags-project {
    font-size: 2.5rem!important;
    font-weight: 500!important;
    padding:1.5rem!important;
    margin:0.8rem 0!important;
  }

}
@media (min-width: 64em) {

  h1 {
    font-size: 2.8rem;
  }
  .down-scroll {
    font-size: 22px;
  }
  .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin: auto;
    text-align: center;
  }

  .svg-std {
    border:none;
    height: 5.5em;
    width: 5.5em;
    display: inline-block;
    margin:0;
  }

  .svg-width {
    border:none;
    height: 5.5em;
    width: 6.5em;
    display: inline-block;
    margin:0;
  }

  .intro h1 {
    font-size: 6rem;
    margin: 0;
    color: white;
    line-height: 1.1;
    font-weight: 600;
  }

  .intro h3 {
    margin-top: 0;
    /* margin-bottom: 15px; */
    margin: 0;
    font-size: 2rem;
    color: white;
    padding-top: 10px;
  }


  .intro-links {
    font-size: 1.5em;
    padding: 15px 10px;
    font-weight: 300;
    color: white;
  }

  .socials {
    padding: 20px;
    font-size: 40px;
  }

  .circle {
    height: auto;
    width: 40px;
    /* background-color: var(--main-bg-color); */
    border-radius: 50%;
    display: inline-block;
    border-color: white;
    border-style: solid;
  }
  /* #projects {
    width:80%;
    margin:0 auto;
  }

  #blog {
    width:80%;
    margin:0 auto;
  } */
  section {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
  .about-content, .contact-content {
    text-align: center;
    max-width: 85%;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 1.5rem;
  }

  .about-content p {
    font-size: inherit;
  }

  .view-all-container {
    display: inline-block;
    width: 50%;
  }

  .view-all {
    color: #ffffff;
    font-size: 1.6rem;
    margin: 6px 2px;
    padding: 1.2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .contact-box-container {
    display: inline-block;
    width: 50%;
  }

  .contact-box {
    border-width: 3px;
    color: #ffffff;
    font-size: 1.6rem;
    margin: 16px 2px;
    padding: 10px 12px;
    font-weight: 400;
    border-style: solid;

  }

  .skill-elem {
    height: auto;
    text-align: center;
    padding: 16px;
    margin: 1rem 1rem;
    width: 40%;
    background-color: white;
    border-color: #d3d3d3;
    border-width: 1px;
    border-radius: 15px;
    border-style: solid;
  }

  .skill-elem h2 {
    font-size: 2rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }

  .skill-elem p {
    font-weight: 300;
    padding: 0 8px;
    max-width: 480px;
    display: inline-flex;
    font-size: 16px;
  }

  .svg {
    height: 4em;
    width: 4em;
    display: inline-block;
    margin:0;
  }

  .svg {
    height: 5em;
    width: 5em;
    display: inline-block;
    margin:0;
  }


  .png {
    height: 5em;
    width: 5em;
    display: inline-block;
    margin:0;
    margin-bottom: -1rem;
  }

  .skill-icons {
    text-align: center;
    font-size: 4.5em;
  }
  .lrg-skill {
    font-size: 4rem;
  }
  .blog-container {
    text-align: center;
    width: 85%;
    margin: 0 auto;
  }

  .blog-content {
    display: inline-block;
    text-align: left;
    width: 90%;
  }

  .projects-container {
    text-align: center;
  }

  .projects {
    width:95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .project-item {
    width: 35%;
    text-align: left;
    padding: 0 2rem;
  }

  .project-item p {
    font-size: 18px;
    font-weight: 300;
  }

  .project-image {
    width: 60%;
  }


  .project-video {
    display: flex;
    flex-grow: 2;
    width: 15%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid lightgrey;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
    margin: 0 1rem;
    background-color: #e2e2e2;
  }

  .desktop-img {
    display: block;
  }

  .mobile-img {
    display: none;
  }

  .link-tags {
    margin: 5px 5px;
  }

  .project-flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 1.5rem;
  }

  .project-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1.5rem 0;
  }

  .project-main-alt {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: 1.5rem 0;
  }

  .project-content {
    flex:1;
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: left;
    padding: 0.8rem;
    margin:0.5rem;
    border: 1px solid lightgrey;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  }

  .project-content p {
    font-size: 12px;
    margin-bottom: 0.2rem;
  }


  .project-content h1 {
    font-size: 1.1rem;
  }

  .project-image {
    display: flex;
    flex-grow: 2;
    width: 15%;
    height: 100%;
    border: 2px solid lightgrey;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 0 1rem;
  }

  .skill-tags {
    font-size: 16px;
    margin: 4px 2px
  }

  .link-tags {
    font-size: 0.8rem;
    font-weight: 500;
    margin: 2px 2px;
    padding: 5px 2px;
  }

  .mini-tags-container strong {
    font-size: 13px;
  }
  .mini-tags-container  {
    margin-bottom:auto;
    padding-bottom: 1rem;
  }

  .blog-container {
    display: flex;
    width: 99%;
    height: 75%;
    max-height: 600px;
    flex-direction: row;
    text-align: center;
    margin:0 auto;
  }


  .blog-post {
    text-align: left;
    width: 31%;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin:1rem auto;
    border: 1px solid lightgrey;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  }

  .post-content {
    padding:0.6rem;
  }

  .post-image {
    border: none;
    border-bottom: 2px solid lightgrey;
  }

  .post-title-link {
    font-size: 1.3rem;
    margin-top: 0;
  }

  .post-title-link a {
    font-size: 1.3rem;
    font-weight: 700;
  }

  .blog-post p {
    margin-bottom: auto;
    font-size: 14px

  }

  .read-more {
    margin-top: auto;
    margin-bottom: 1rem;
    width:80%;
    margin-right: auto;
    margin-left: auto;
  }

  .footer-style {
    font-size: 18px;
    color: #d6d6d6;
  }
}


@media (min-width: 80em) {
  .project-content {
    padding: 1.2rem;
  }

  .svg-std {
    border:none;
    height: 6.5em;
    width: 6.5em;
    display: inline-block;
    margin:0;
  }

  .svg-width {
    border:none;
    height: 6.5em;
    width: 8.5em;
    display: inline-block;
    margin:0;
  }

  .svg-height {
    border:none;
    height: 8.2em;
    width: 8.5em;
    display: inline-block;
    margin:-1rem;
  }

  .project-content p {
    font-size: 16px;
  }


  .project-content h1 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }


  .skill-tags {
    font-size: 18px;
    padding: 2px 6px;
  }

  .link-tags {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 4px 4px;
  }

  .mini-tags-container strong {
    font-size: 18px;
  }

  .blog-container {
    display: flex;
    width: 98%;
    height: 75%;
    max-height: 600px;
    flex-direction: row;
    text-align: center;
    margin:0 auto;
  }


  .blog-post {
    text-align: left;
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin:1rem auto;
    border: 1px solid lightgrey;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  }

  .post-content {
    padding:1rem;
  }

  .post-image {
    border: none;
    border-bottom: 2px solid lightgrey;
  }

  .post-title-link {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .post-title-link a {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .blog-post p {
    margin-bottom: auto;
    font-size: 16px;
  }

  .read-more {
    margin-top: auto;
    margin-bottom: 1rem;
    width:80%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 120em) {
  section {
    max-width: 1440px;
    margin: 0 auto;

  }

  .heading {
    font-weight: 800;
    font-size: 3em;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .intro-container {
    height: 100%;
    width: 100%;
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
    color: white;
  }

  .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin: auto;
    text-align: center;
  }

  .intro h1 {
    font-size: 8.5rem;
    font-weight: 800;
    margin: 15px;
    color: white;
  }

  .intro h3 {
    margin-top: 0;
    font-weight: 200;
    margin-bottom: 15px;
    font-size: 2.8rem;
    color: white;
  }

  .intro-links {
    font-size: 1.5em;
    padding: 15px;
    font-weight: 300;
    color: white;
  }

  .intro-nav-links {
    padding: 0.8rem 0;
  }

  .intro-circle-icons {
    font-size: 1.5em;
    padding: 15px;
    font-weight: 300;
    color: white;
  }

  .spacer-mobile {
    display: none;
  }

  /* .about-container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  } */

  .about-content, .contact-content {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 1.5rem;
  }

  .about-content p {
    font-size: 22px;
  }

  .flex-container {
    display: inline-flex;
    justify-content: center;
    max-width: 100%;
    /*flex-wrap: nowrap;*/
    margin: 0 2rem;
  }
  .skill-icons {
    font-size: 5.5em;
  }
  .lrg-skill {
    font-size: 5em;
  }
  .skill-elem {
    height: auto;
    text-align: center;
    margin: 1rem 1rem;
    width: auto;
  }

  .skill-elem p {
    font-weight: 300;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 480px;
    display: inline-flex;
    font-size: 17px;
  }


  .svg {
    height: 5em;
    width: 5em;
    display: inline-block;
    margin:0;
  }

  .java-svg {
    height: 6.5em;
    width: 6.5em;
    display: inline-block;
    margin:0;
  }


  .png {
    height: 6em;
    width: 6em;
    display: inline-block;
    margin:0;
    margin-bottom: -1rem;
  }
  .socials {
    padding:1.2rem;
    font-size: var(--intro-socials-size);
  }

  .circle {
    height: var(--intro-socials-size);
    width: var(--intro-socials-size);
    /* background-color: var(--main-bg-color); */
    border-radius: 50%;
    display: inline-block;
    border-color: white;
    border-style: solid;
  }
  .center {
    position: absolute;
    bottom: 35px;
    width: 100%;
    margin: 0 auto;
    display: block;
    cursor: pointer;
  }

  .down-arrow {
    /*
          bottom: 0;
          width: 100%;
          position: absolute;
          display: inline-block;
          color: white;
          font-size: 35px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); */
    padding-bottom: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: white;
    -webkit-animation: anim 2.3s infinite;
    animation: anim 2.3s infinite;
  }

  @-webkit-keyframes anim {
    0% {
      -webkit-transform: translate(-15px, -100px);
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      -webkit-transform: translate(-15px, -60px);
      opacity: 0;
    }
  }

  @keyframes anim {
    0% {
      top: 50%;
      left: 50%;
      transform: translate(-15px, -100px);
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      transform: translate(-15px, -50px);
      opacity: 0;
    }
  }

  .down-scroll {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: 300;
    color: white;
  }

  .view-all-container {
    display: inline-block;
    max-width: 480px;
  }

  .contact-box-container {
    display: inline-block;
    max-width: 480px;
  }

  .blog-container {
    display: flex;
    width: 100%;
    height: 65%;
    max-height: 800px;
    flex-direction: row;
    text-align: center;
  }

  .all-projects-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }



  .blog-post {
    text-align: left;
    width: 35%;
    height: 95%;
    display: flex;
    flex-direction: column;
    margin:1rem;
    border: 1px solid lightgrey;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  }


  .all-projects-item {
    text-align: left;
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    margin:1rem;
    border: 1px solid lightgrey;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
  }

  .all-projects-content {
    padding:1rem;
  }

  .post-content {
    padding:1rem;
  }

  .post-image {
    border: none;
    border-bottom: 2px solid lightgrey;
  }

  .post-title-link {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .post-title-link a {
    font-size: 1.5rem;
    font-weight: 700;
  }


  .blog-post p {
    margin-bottom: auto;
  }

  .read-more {
    margin-top: auto;
    margin-bottom: 5%;
    width:80%;
    margin-right: auto;
    margin-left: auto;
  }

  .blog-content {
    display: inline-block;
    text-align: left;
    width: 70%;
    height: 100%;
  }

  .projects-container {
    text-align: center;
  }

  .projects {
    display: flex;
    justify-content: center;
  }

  .project-item {
    width: 32%;
    text-align: left;
    padding: 0 3.5rem;
  }

  .project-image {
    width: 60%;
  }

  .desktop-img {
    display: block;
  }

  .mobile-img {
    display: none;
  }

  .link-tags a {
    font-size: 1.2rem;
  }

  .project-flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .project-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1.5rem 0;
    height: 100%;
  }

  .project-main-alt {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: 1.5rem 0;
    height: 100%;

  }

  .project-content {
    flex:1;
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: left;
    margin:1.5rem;
    border: 1px solid lightgrey;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  }

  .project-image {
    display: flex;
    flex-grow: 2;
    width: 15%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid lightgrey;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 0 1rem;
    background-color: #e2e2e2;
  }


  .project-video {
    display: flex;
    flex-grow: 2;
    width: 15%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid lightgrey;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
    margin: 0 1rem;
    background-color: #e2e2e2;
  }


  .post-title-link {
    font-size: 1.6rem;
    margin-top: 0;
  }

  .post-title-link a {
    font-size: 1.6rem;
    font-weight: 700;
  }

  .project-content p {
    font-size: 18px;
  }

  .skill-tags {
    font-size: 18px;
  }

  .link-tags {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .link-tags-project {
    font-size: 2.5rem;
    font-weight: 500;
    padding:1.5rem;
    margin:0.8rem 0;
  }

  .project-desc {
    color:#5f5f5f;
    font-size: 20px;
    border: 2px solid var(--main-green-color);
    border-left:16px solid var(--main-green-color);
    padding:1rem;
    padding-left: 1rem;
    font-weight: 400;

  }

  .link-tags-project:hover {
    border: 5px solid;
  }


  .mini-tags-container strong {
    font-size: 18px;
  }

  .footer-style {
    font-size: 20px;
  }
}
