---
layout: default
---



<div class="post">
  <h1 class="project-details-title">{{ page.title }}</h1>
  <br>
  <p class="project-desc">{{page.description}}</p>
  <img src="{{page.image}}"/>
  <br>

<br>
<br>
  {{ content }}
<br>
<h1>Video</h1>
<video class="project-details-video" src="{{page.video}}" poster="{{page.image}}" controls mute ></video>
  <h1>Links</h1>
<br>
  <div class="link-tag-container">
    <a class="link-tags link-tags-project blu" href="{{page.live}}">
      <i class="fas fa-desktop"></i> Try A Live Demo of This Project </a>

    <a class="link-tags link-tags-project blk" href="{{page.gitrepo}}">
      <i class="fab fa-github"></i> View Source Code on GitHub</a>

  </div>
</div>

<!--<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>-->
